# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ===== Виртуальные окружения =====
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# ===== PyInstaller =====
*.manifest
*.spec

# ===== Тестирование =====
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/
htmlcov/

# ===== Jupyter Notebook =====
.ipynb_checkpoints/

# ===== VS Code =====
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.code-workspace

# ===== Windows =====
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# ===== Переменные окружения и секреты =====
.env
.env.*
!.env.example
*.env.local

# ===== Логи =====
*.log
logs/

# ===== Прочее =====
.idea/
*.bak
*.tmp